---
nimbus.seeds:
<% @nimbus_seeds.each do |seeds| -%>
  - "<%= seeds %>"
<% end -%>
storm.zookeeper.servers:
<% @zookeeper_servers.each do |zk| -%>
  - "<%= zk %>"
<% end -%>
storm.log4j2.conf.dir: "/etc/apache-storm"
storm.local.dir: "/opt/apache-storm/storm_local_dir"
storm.health.check.dir: healthchecks
java.library.path: "/usr/local/lib:/opt/local/lib:/usr/lib"
storm.cluster.mode: distributed
nimbus.childopts: "-Xmx256m -Djava.net.preferIPv4Stack=true -Dfile.encoding=UTF-8"
ui.childopts: "-Xmx768m -Djava.net.preferIPv4Stack=true -Dfile.encoding=UTF-8"
supervisor.slots.ports:
<% @supervisor_ports.each do |ports| -%>
  - <%= ports %>
<% end -%>
supervisor.childopts: "-Xmx768m -Djava.net.preferIPv4Stack=true -Dfile.encoding=UTF-8"
drpc.childopts: "-Xmx768m -Djava.net.preferIPv4Stack=true -Dfile.encoding=UTF-8"
logviewer.childopts: "-Xmx256m -Djava.net.preferIPv4Stack=true -Dfile.encoding=UTF-8"
worker.childopts: "<%= @worker_options -%>"
topology.workers: <%= @topology_workers -%>
