[Unit]
Description=Apache Storm <%= @service_name %> Daemon
After=network.target

[Service]
User=<%= @service_user %>
Group=<%= @service_group %>
ExecStart=<%= @command_to_execute %>  <%= @service_name %>
PIDFile=<%= @service_pid_file %>

[Install]
WantedBy=multi-user.target
